.content {
    background-color: darkgray;
    padding-top: 60px;
    display: grid;
    grid-template-areas:
    "ava me me"
    "ava description description"
    "ava description description"
    "posts posts posts"
;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.ava {
    grid-area: ava;
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 25px;

}

.ava img {
    margin-top: 10px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.me {
    grid-area: me;
    text-align: center;
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 25px;
}

.posts {
    grid-area: posts;
    margin-top: 50px;
}

.input {
    width: 700px;
    height: 70px;


}

.btn {
    width: 19%;
    height: 70px;
}

.zero {
    height: 190px;
}

.form {
    text-align: center;
}

.input {
    border-radius: 10px;
}

.btn {
    margin-top: 15px;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    background-color: aquamarine;
}


