.dialogs {
    margin-left: 250px;
    background-color: honeydew;

}


.dialogs a div {
    margin-top: 1em;

}
.dialogs a {
    color: black;
    text-decoration: none;
}

.DialogItem img {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-right: 15px;

}

.dialogs a.active div {
    background-color: gold;
}

.DialogItem {
    display: flex;
    align-items: center;
    /*
    border: yellow 3px double;
    */
}


.DialogItem:hover {
    background-color: gainsboro;
}
