.dialogs {
    margin-left: 250px;


}


.dialogs a div {

}
.dialogs a {
    color: black;
    text-decoration: none;
}

.DialogItem img {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-right: 15px;

}

.dialogs a.active div {
    background-color: gold;
}

.DialogItem {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    /*
    border-radius: 15px;
    */
    border: gainsboro 2px double;
}


.DialogItem:hover {
    background-color: gainsboro;
}

.dialogs {
    border-radius: 5px;
    margin-top: 3em;
    /*
    border: 3px darkorange double;
    */
    background-color: whitesmoke;
    /*
    padding: 1em;
    */
}
