.login {
    padding-top: 60px;
    background-color: green;
    height: 500px;
    text-align: center;
    margin-top: 15px;
}

.password {
    margin-top: 20px;
    width: 70%;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
}

.btn {
    margin-top: 10px;


}

.loginForm {
    width: 70%;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;

}

.btn button {
    width:50%;
    height: 30px;
    font-size: 20px;
    background-color: darkmagenta;
    border: none;
    border-radius: 10px;
}
