.content {
    padding-top: 60px;
    height: 100%;
    background-color: whitesmoke;
    display:grid;
    grid-template-columns: 10fr 1fr;
    margin-bottom: 60px ;
}

.content img {
    width:150px;
    height: 150px;
    border-radius: 100px;
}

.selectedPage {
    font-weight: bold;
    color: gold;
}