
.post {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background: whitesmoke;
    border-radius: 25px ;
    margin: 3em;
}

.post img {
    width: 150px;
    border-radius: 100%;
    margin: 15px;
}
.postArea {
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.postName {
    display: flex;
    justify-content: center;
    align-items: center;
}
.postText {
    display: flex;
    justify-content: center;
    align-items: center;
}