.MessageArea {
    margin: 10px;
}

.right {
    /*
    float: right;
    */
    margin-left: 50%;
}
.message {
    height: 50px;
    margin-top: 1em;

    background-color: gainsboro;
    border-radius: 15px;

}

.text {
    margin-left: 10px;
    margin-top: 5px;
}