.MessageArea {
    margin: 3em;
    border: 3px violet double;

}

.right {
    /*
    float: right;
    */
    margin-left: 50%;
}
.message {
    height: 50px;
    margin-top: 1em;

    background-color: gainsboro;
    border-radius: 15px;

}

.text {
    margin-left: 10px;
    margin-top: 5px;
}